/*-------------------------------------
 * VARIABLES - PROJECT WIDE
/-------------------------------------*/

// Main colors
$color-brand-primary: #448b8c;
$color-brand-bkg: #efede8;
$color-off-white: #fafaf8;
$color-light-grey: #aaaaab;
$black: #000;
$white: #fff;


// Main Font
$main-font: 'Roboto', 'Helvetica', sans-serif;
$heading-weight: 700;
$subheading-weight: 500;
$body-weight: 300;

// Sizing Variables

// Spacing Variables

// Button Variables

// Radius Variables
$standard-radius: 4px;

//Clipping Paths
